// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";
// @import "foundation/components/modules/clearing";
// @import "foundation/components/modules/joyride";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";




html,
body {
	margin: 0;
	padding: 0;	
}






body {

}

#menu {
  background: #444;
  height: 30px; color: #fff; text-align: right;
}
#menu ul {
  list-style: none;
  margin: 0; padding: 0;
}
#menu ul li {
  float: left;
  margin-left: 10px;
}
#menu ul li a {
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}
#menu ul li a:hover {
  color: #ccc;
}
#menu ul li a.active {
  color: #aaa;
}





.submenu-wrapper li a {
	cursor: pointer;
}


.submenu-wrapper {
	background: #aaa;
	position: relative;
}

.submenu-wrapper.sticky {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100% !important;
}

.submenu.sticky {
	width: 100% !important;
}
.submenu-placeholder {
	height: 0px;
}

.submenu-placeholder.sticky  {
	height: 45px;
}

.submenu ul li a.active {
  color: #fff;
}


.top-bar {
	margin: 0px !important;
}
.top-bar .name {
	width: 0px;
}

.top-bar .padded-cta { padding: 0px 13px 0px; }



#gallery-items-target {
  
}
#gallery-items-target img {
	border: 0;
}
#gallery-items-target .image-target-image-container {
  width: 100%;
  height: 200px;
}

#gallery-items-target ul {
  list-style: none;
  margin: 0; padding: 0;
}
#gallery-items-target .columns {
  margin-top: 20px;
  margin-bottom: 20px;
}
#gallery-items-target ul li a {
  color: #999999;
  line-height: 30px;
  text-decoration: none;
  width: 220px;
  height: 180px;
  display: block;

}
#gallery-items-target ul li a:hover {
  color: #ccc;
}
#gallery-items-target ul li a.active {
  color: #dddddd;
}
/**/

.main-wrapper {	
	display: none;
	background: #eeeeee;
}

#loading-page.main-wrapper {
	display: block;
	background: #dddddd;
	color: #777777;
}




#help-panel-1, #help-panel-2, #help-panel-3, #video-panel-1, #video-panel-2, #video-panel-3  {
	display: none;
	background-color: #ffffff;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
}



#credits {
	margin: 30px auto;
	color: #999;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	text-align: center;
}

#credits a {
	color: #888;
}