// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";
// @import "foundation/components/modules/clearing";
// @import "foundation/components/modules/joyride";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

@import "compass/css3/border-radius";



html,
body {
	margin: 0;
	padding: 0;	
}


.main-wrapper {	
	display: none;
	background: #eeeeee;
}

#loading-page.main-wrapper {
	display: block;
	background: #dddddd;
	color: #777777;
}


// menu at top of page
#menu {  background: #444;  height: 30px; color: #fff; text-align: right;	overflow: hidden;}
#menu ul {  list-style: none;  margin: 0; padding: 0;}
#menu ul li {  float: left;  margin-left: 10px;}
#menu ul li a {  color: #fff;  line-height: 30px;  text-decoration: none;}
#menu ul li a:hover {  color: #ccc;}
#menu ul li a.active {  color: #aaa;}


// submenu on parrallax page
.submenu-wrapper li a {	cursor: pointer;}
#menu .submenu-wrapper {	background: #aaa;	position: relative;}
.submenu-wrapper.sticky {	position: fixed;	top: 0px;	left: 0px;	width: 100% !important;}
.submenu-placeholder {	height: 0px; width:100%; display:block;}
.submenu-placeholder.sticky  {	height: 45px; width:100%; }
.top-bar {	margin: 0px !important;}
.top-bar .name {	width: 0px;}
.top-bar .padded-cta { padding: 0px 13px 0px; }
.item-1 {	width: 100px;	height: 100px; background-color: #ff0; float: left; margin-right: 20px;}
.item-1 .inner-item-1 {	width: 0%;	height: 0%; background-color: #0f0; float: left; margin-right: 20px;}
.item-2 {	width: 100px;	height: 100px; background-color: #ff0; float: left; margin-right: 20px;}
.item-2 .inner-item-1 {	visibility: hidden;	width: 100%;	height: 100%; background-color: #0f0; float: left; margin-right: 20px;}




// gallery page
#gallery-items-target img {	border: 0;}
#gallery-items-target .columns {  margin-top: 20px;  margin-bottom: 20px;}
.image-target-image-container {	width: 100%;	height: 200px;}



// help and video page
#help-panel-1, 
#help-panel-2, 
#help-panel-3, 
#video-panel {	display: none;	background-color: #ffffff;	padding: 10px;	margin-bottom: 10px;	width: 100%;}


// footer
#credits {	margin: 30px auto;	color: #999;	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;	text-align: center;}


// overriding default values
// main button
.button {background-color:#246; border:0;}
.button:hover {background-color:#71F;}







/* videojs */

// overriding videojs player button
.vjs-big-play-button {
	width: 90px !important;
	margin-left: -45px !important;
	height: 90px !important;
	margin-top: -45px !important;

	border: solid 1px #222 !important;

	background-color: #2c2c2c !important; 
	background-image: none !important;
	background-image: none !important;
	background-image: none !important;
	background-image: none !important;
	background-image: none !important;
	background-image: none !important;
	background-repeat: no-repeat !important;
	filter: none !important;

	-moz-box-shadow: 0px 0px 0px #888 !important;
	-webkit-box-shadow: 0px 0px 0px #888 !important;
	box-shadow: 0px 0px 0px #888 !important;

	-webkit-border-radius: 4px 4px !important;
	-moz-border-radius: 4px / 4px !important;
	-khtml-border-radius: 4px / 4px !important;
	border-radius: 4px / 4px !important;
}
.vjs-big-play-button:hover {
	background-color: #111 !important;
}


/* testing bix-sizing polyfil on ie7. works on most panels
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(resources/css/boxsizing.htc);
}
*/


// gist

.gist-syntax {background-color:#000 !important;}
.gist-syntax .line-numbers { display:none;}
.gist-syntax .highlight { background-color: transparent !important;}
.gist-syntax table {margin: 0px; border: 0px;}
.gist-syntax .nc {color:#f33 !important;}
.gist-syntax .k {color:#555 !important;}
.gist-syntax .m {color:#f3f !important;}


/*
      .inline-code { font-family: "Monaco", "Consolas", "Courier", "Courier New", monospace; font-size: 13px; color: #e5a648; }
      .code-chunk { margin-bottom: 24px; background: #0b0503; padding: 15px 16px; border: solid 1px #231715; overflow-x: auto; width: auto; }
      .code-chunk pre { margin: 0; padding: 0; font-family: "Monaco", "Consolas", "Courier", "Courier New", monospace; font-size: 12px; color: #b7b7b7; }
      .code-chunk .comment { color: #796964; }
      .code-chunk .element { color: #976355; }
      .code-chunk .attr { color: #e5a648; }
*/








